.fontfamily{
    font-family:'arial'
}

.header-button{
    background-color: transparent;
    color :black;
    font-size:5px;

    height: 40px;
    width: 60px;

    border:none;
    border-radius: 20px;    
}

.header{
    color:black;    
}


.addtocart-button{
    background-color: rgb(255, 239, 96);
    color: black;    
    font-size: 15px;
            
    height: 40px;
    width: 180px;
            
    border:none;
    border-radius: 20px;
    
    margin-right: 10px;
}
    
.buynow-button{
    background-color: orange;
    color: black;
    border:none;
    
    height :40px;
    width:120px;
    margin-right: 10px;
}
    
.amazon-link{
    text-decoration-line: underline;
    color: rgb(0, 113, 133);
    font-size:20px;
    margin-bottom: 10px;
}
    
.title{
    font-weight: bold;
    font-size: 30px;
    color: black;
}
    
.price{
    color: rgb(0,118,0);
    font-size:20px;
}
